/* styles.css */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fafafa;
}
/* position of where the board is */
#game-board {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-rows: repeat(15, 1fr);
    grid-template-columns: repeat(15, 1fr);
    border: 2px solid #333;
    background-color: #fff;
    position: relative;
}

.snake {
    background-color: #4CAF50;
}
/*Snake color */

.fruit {
    background-color: #FF0000;
}

/*Fruit color */